Package: com.tomaszpoliszuk.applibraryenabler
Depends: firmware (>= 14.0), mobilesubstrate, cy+model.ipad
Name: App Library Enabler
Version: 1.0
Architecture: iphoneos-arm
Description: Enable App Library on iPadOS
Author: Tomasz Poliszuk
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension
